<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if (o.htmlWebpackPlugin.options.pkg.title) { %}
    <title>{%=o.htmlWebpackPlugin.options.pkg.title %}</title>
    {% } %}
    {% if (o.htmlWebpackPlugin.files.favicon) { %}
    <link rel="shortcut icon" href="{%=o.htmlWebpackPlugin.files.favicon%}">
    {% } %}
    <meta name="description" content="{%=o.htmlWebpackPlugin.options.pkg.description %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet">
    {% } %}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="js/polyfill.js"></script>
    <![endif]-->
  </head>
  <body data-ng-app="app" class="body">

    <!-- views will be injected here -->
    <div data-ui-view></div>

    {% for (var chunk in o.htmlWebpackPlugin.files.chunks) { %}
      <script src="{%=o.htmlWebpackPlugin.files.chunks[chunk].entry %}"></script>
    {% } %}

  </body>
</html>
