<div data-av-modal>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="modal-title">Awesome</h4>
  </div>
  <div class="modal-body">
    <h4></h4>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>

    <hr>

    <h4>Yummy</h4>
    <p>Jelly beans oat cake pie sweet roll candy canes cotton candy wafer topping. Chocolate bar macaroon I love. Carrot cake jelly beans sweet roll icing macaroon. Sugar plum I love toffee tart pudding.</p>
    <p>Croissant tart oat cake lollipop bear claw. Tart I love fruitcake cupcake macaroon chocolate cake I love I love. Topping I love cupcake cookie.</p>
    <p>Gingerbread lollipop cake I love cotton candy toffee tootsie roll icing. Apple pie jujubes sweet roll tootsie roll. Chupa chups chocolate wafer cotton candy chocolate cake. Jujubes lollipop toffee fruitcake carrot cake tootsie roll.</p>
    <p>Icing caramels cotton candy gummi bears caramels oat cake halvah cake. Apple pie ice cream gummies. Cheesecake apple pie liquorice cupcake jujubes. Pastry cookie chocolate tart tiramisu marzipan.</p>
    <p>Muffin lemon drops pie I love. I love cake macaroon chocolate cake. Pie marzipan pastry.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
  </div>
</div>
