<div class="container-sm" data-ng-controller="PageController">

  <h1 class="page-title">Welcome</h1>

  <form class="form" name="demoForm" data-av-val-form="default">
    <div class="panel panel-card">
      <div class="panel-body">
        <div class="container-fluid">
        <div class="row">
            <div>
              <h3 class="subheader panel-header">User Profile</h3>

              <div class="form-group">
                <label for="name">
                  Name
                  <span class="inline-help"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="A word or set of words by which a person, animal, place, or thing is known, addressed, or referred"
                  >
                    What's this
                  </span>
                </label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  data-ng-model="reg.name"
                  data-av-val-field="name"
                  placeholder="Enter 1 letter to see validation in action"
                >
                <p data-av-val-container></p>
              </div>

              <div class="form-group">
                <label for="noIcon">Date of Birth</label>
                <input type="text"
                 class="form-control"
                 id="noIcon"
                 data-ng-model="reg.date"
                 data-av-datepicker
                 data-av-val-field="date"
                 placeholder="When were you born?"
                />
                <p data-av-val-container></p>
              </div>

              <div class="form-group">
                <label for="dropdownStates1">Favorite State</label>
                <select
                  id="dropdownStates1"
                  class="form-control select2"
                  data-av-dropdown
                  data-ng-model="selectedState"
                  data-ng-options="state.name for state in reg.states track by state.code"
                  data-placeholder="Select State"
                  data-allow-clear="true"
                  >
                  <option value="" ng-if="false"></option>
                </select>
              </div>

            </div>
        </div>
        </div>
      </div>
    </div>

    <div class="form-controls">
      <button type="button" class="btn btn-default">Clear</button>
      <button
        type="button"
        class="btn btn-info"
        data-ng-click="reg.onShow()">
        Show
      </button>
      <input type="submit" class="btn btn-primary form-controls-right" data-ng-disabled="demoForm.$invalid" value="Next">
    </div>
  </form>

  <div ng-include="'registration/templates/notice.html'"></div>

</div>




